body {
  background-color:bisque;
  margin: 20px;
}

.jumbotron {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jumbotron h1{
  text-align: center;
  font-family: 'Cinzel', serif;
}

.lead {
  text-align: center;
  font-family: 'Cinzel', serif;
}

#start-sorting {
  font-family:Georgia, 'Times New Roman', Times, serif;
  width: fit-content;
}


#exp-card {
  background-color: black;
}

#exp-card img {
  width: 100%;
}
#exp-card h5 {
  text-align: center; 
  color: #B8CDBB;
  font-family:'Amatic SC', cursive;
} 
